<footer class="footer navbar-fixed-bottom">
      <div class="container-fluid">
        <p class="pull-left">
          Interview Project &copy; Chris Barthol 2016
        </p>
        <span class="pull-right">
            About Contact
        </span>
      </div>
</footer>
