<footer>
  <div class="footerWrapper text-center">
    <div class="footerSocial">
      <ul>
        <li>
          <a href='https://www.facebook.com/chrisbarthol' class='facebook' title="Facebook">
            <i class="fa fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href='https://www.twitter.com/chrisbarthol' class='twitter' title='Twitter'>
            <i class="fa fa-twitter-square"></i>
          </a>
        </li>
        <li>
          <a href='https://www.linkedin.com/chrisbarthol' class='linkedin' title='LinkedIn'>
            <i class="fa fa-linkedin-square"></i>
          </a>
        </li>
      </ul>
      <p> Copyright © 2016 Chris Barthol </p>
    </div>
    <div class="footerContact">
      <div class="vertical-center">
        <p> Contact </p>
        <p class="white"> chris.barthol@gmail.com </p>
      </div>
    </div>
    <div class="footerLogo">
      <ul>
        <li>
          <a href='https://www.github.com' class='github' title="Github">
            <i class="devicon-github-plain"></i>
          </a>
        </li>
        <li>
          <a href='https://facebook.github.io/react/' class='react' title="React">
            <i class="devicon-react-original"></i>
          </a>
        </li>
        <li>
          <a href='https://www.ruby-lang.org/en/' class='ruby' title="Ruby">
            <i class="devicon-ruby-plain"></i>
          </a>
        </li>
        <li>
          <a href='https://www.python.org/' class='python' title="Python">
            <i class="devicon-python-plain"></i>
          </a>
        </li>
        <li>
          <a href='https://www.javascript.com/' class='javascript' title="Javascript">
            <i class="devicon-javascript-plain"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
